<h1>只有超级管理员可以看到这个模块</h1>
<div style="position: relative;">
    <div id="maplayer" style="width: 100%;height: 600px;margin: 0 auto;"> </div>
    <div class="info" style="position: absolute;left: 0;top: 0;">
        <d-card style="width: 350px">
            <d-card-header>
              <d-avatar dCardAvatar [name]="'DevUI'"></d-avatar>
              <d-card-title>这是一个信息窗体</d-card-title>
              <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle>
            </d-card-header>
            <d-card-content>
             此信息窗体用来显示简单信息，以及一些交互操作。
            </d-card-content>
            <d-card-actions [align]="'start'">
              <d-button  bsStyle="primary" (click)="toggle()">切换主题</d-button>
              <d-button  bsStyle="primary" (click)="toShowtable()" style="margin:0 10px;">打开/关闭table</d-button>
              <d-button bsStyle="primary" (click)="openModal()">打开弹窗</d-button>
            </d-card-actions>
          </d-card>
    </div>
    <!-- <app-stable *ngIf="showTable" style="position: absolute;top: 0;right: 0;width: 600px;"></app-stable> -->
</div>
