<h1>dashboard</h1>
<div id="main"></div>
<!-- TODO:动态样式的两种设置方式 -->
<!-- <div [ngStyle]="setStyle()">test1</div>
 <div [ngStyle]="{'color':color}">test2</div> -->
<!-- TODO:ngSwitch 不是响应式的，只渲染一次 -->
<!-- <div ngSwitch="condition">
 <ng-template [ngSwitchCase]="1"><div>1</div></ng-template>
 <ng-template [ngSwitchCase]="2"><div>2</div></ng-template>
 <ng-template ngSwitchDefault><div>3</div></ng-template>
 </div> -->
<br>
<br>
<!-- TODO:Ctrl+hover显示css类 -->
<button class="button-demo">AVAILABLE NOW</button>
<div class="triangle"></div>
<br>
<br>
