<div style="display: flex;justify-content: space-around;">
<div class="row">
    <div class="col-md-5">
      <d-tree-select 
        placeholder="Standard Input"
        [treeData]="data2"
        [multiple]="true"
        [expandTree]="true"
        [(ngModel)]="value2"
        (ngModelChange)="showSelected($event)"
        (nodeToggleEvent)="nodeToggleEvent($event)"
        style="width: 300px;overflow: auto;"
      ></d-tree-select>
    </div>
  </div>
  <div style="width: 500px;height: 500px;">
    <form  dForm
    ngForm [layout]="'vertical'"
    [dValidateRules]="{ message: '表单校验不通过，请检查' }"
    #lightForm="dValidateRules"
    (dSubmit)="submitForm($event)"
    >
      <!-- <d-form-item>
        <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'这是唯一标识符'">警报名称：</d-form-label>
        <d-form-control>
          <input dTextInput name="warningName" [(ngModel)]="formData.warningName" [dValidateRules]="[{ required: true }]" />
        </d-form-control>
      </d-form-item> -->
      <d-form-item>
        <d-form-label>警报等级</d-form-label>
        <d-form-control>
          <d-radio-group name="radioValue" [cssStyle]="'row'" [(ngModel)]="formData.radioValue">
            <d-radio *ngFor="let option of radioOptions" [value]="option">
              {{ option.label }}
            </d-radio>
          </d-radio-group>
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label>是否在地图上显示警报</d-form-label>
        <d-form-control>
          <d-toggle name="map" [(ngModel)]="formData.toggleValue"></d-toggle>
        </d-form-control>
      </d-form-item>
      <d-form-operation>
        <d-button class="mr-element-spacing" [title]="lightForm.errorMessage || ''" circled="true" style="margin-right: 8px" dFormSubmit
        [showLoading]="lightForm.pending"
          >提交</d-button
        >
        <d-button bsStyle="common" circled="true" dFormReset>重置</d-button>
      </d-form-operation>
    </form>
    </div>
</div>
